.shadow-normal {
  box-shadow: rgba(55, 55, 66, 0.2) 0px 7px 29px 0px;
}

.head-behind {
  background: linear-gradient(
    transparent 0%,
    transparent 50%,
    #1d4ed8 50%,
    #1d4ed8 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
